body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}


::selection {
    background-color: #b5e2e7;
}

::-moz-selection {
    background-color: #8ac7d8;
}

body {
    background: white;
}

.forgetPassword {
    color: white;
}

.navbar-inverse {
    background-color: black;
    border-color: #080808;
}

.hide {
    display: none;
}

#logbox {
    padding: 10px;
    margin: 50px auto;
    width: 340px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

h1 {
    text-align: center;
    font-size: 175%;
    font-weight: 300;
}

h1, input {
    font-family: "Open Sans", Helvetica, sans-serif;
}

.input {
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
}

    .input:focus {
        outline: none;
        border-bottom-color: #337ab7 !important;
    }

    .input:hover {
        border-bottom-color: #dcdcdc;
    }

    .input:invalid {
        box-shadow: none;
    }

.pass:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
    position: relative;
    width: 85%;
    height: 50px;
    display: block;
    margin: 30px auto 30px;
    color: white;
    border: none;
}

    .inputButton:active {
        top: 5px;
        box-shadow: none;
    }

    .inputButton:focus {
        outline: none;
    }

.navbar-brand {
    font-size: x-large;
    font-family: Candara;
    color: white;
}

#navbar-inverse {
    background-color: #4B6A78;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: white;
}

/*Profile pic*/
img#profilePic {
    width: 250px;
    height: 180px;
}
/*End*/

/*Validation*/
.validation {
    width: 75%;
    height: 50px;
    margin: 0 auto 15px;
    padding: 0 40px;
    border: none;
}
/**/

div.em {
    position: absolute;
    right: -137px;
    bottom: -21px;
    z-index: 1;
}


#profileData {
    right: -450px;
    display: inline-block;
    padding: 0px 2px 0px 2px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.logout {
    color: white;
}

/*Live Search Textbox*/
.livesearch {
    display: inline-block;
    padding-top: 12px;
    position: relative;
}

input#searchText {
    position: relative;
    margin-top: 1px;
    top: -4px;
    display: inline-block;
    width: 400px;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*End Live Search*/

/*Live Search List*/
#livesearch img {
    width: 20px;
    position: initial;
    height: 20px;
}

ul#liveSearchul {
    position: absolute;
    background: white;
    top: 40px;
    padding: 0px;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    list-style: none;
}

    ul#liveSearchul li {
        padding: 8px;
        width: 280px;
    }

    ul#liveSearchul a {
        color: black;
        text-decoration: none;
    }

    ul#liveSearchul li:hover {
        background-color: floralwhite;
        text-decoration: none;
    }

/*li close*/
#liveSearchul li.close {
    position: absolute;
    color: black;
    font-size: 15px;
    width: 20px;
    height: 2px;
    opacity: 1 !important;
    right: -10px;
    border: none;
    right: 0;
    top: -10px;
    cursor: pointer;
    z-index: 10;
    pointer-events: initial;
}
/*Setting add button to right*/
.shiftright {
    float: right !important;
}
/*Friend req*/
#reqNotifyul {
    right: 200px;
    text-decoration: none;
    position: absolute;
    background: white;
    top: 55px;
    padding: 0px;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    list-style: none;
}

.frnotifli {
    width: 280px;
    display: block;
    padding: 10px;
    color: black;
}

    .frnotifli img {
        position: initial;
        width: 80px;
        height: 80px;
    }

    .frnotifli a {
        color: black;
        text-decoration: none;
    }

.requestIcon {
    position: relative;
    display: table;
    border-collapse: separate;
    top: 8px;
    font-size: 20px;
}

.messageIcon {
    position: relative;
    display: table;
    border-collapse: separate;
    top: 12px;
    font-size: 20px;
    color: black;
}

.msgTextArea {
    width: 1000px;
    height: 100px;
    color: black;
}

#Intro {
    width: 1000px;
    height: 100px;
}

#ProjectDescription, .awardTextArea, .updateAwardTextArea {
    width: 1000px;
    height: 100px;
}

.notif {
    right: -450px;
    display: inline-block;
    padding: 8px 2px 0px 2px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.msgNotif {
    right: -450px;
    display: inline-block;
    padding: 8px 2px 0px 2px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}


.chat {
    width: 250px;
    position: fixed;
    bottom: 0;
    right: 1px;
    display: table;
    border-collapse: separate;
    font-size: 15px;
}

    .chat img {
        width: 50px;
        height: 50px;
    }

    .chat ul li {
        cursor: pointer;
        margin-left: 10px;
        margin-bottom: -2px;
        border: none;
        bottom: 0;
    }

.chatboxholder {
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 100%;
    height: 50px;
}

.chatbox {
    width: 300px;
    height: 400px;
    background: #4B6A78;
    position: absolute;
    bottom: 0px;
    right: 250px;
}

    .chatbox h4 {
        position: absolute;
        top: -65px;
        left: 0;
        z-index: 5;
        background: #4B6A78;
        width: 100%;
        padding: 10px;
    }

    .chatbox img {
        width: 30px !important;
        margin-bottom: 10px;
    }

.chatboxtext {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    background: white;
    width: 90%;
    height: 270px;
    z-index: 1;
    margin: 0 auto;
    max-height: 270px;
    overflow: scroll;
    padding: 10px;
}

.chattextarea {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 40px;
    width: 90%;
    height: 60px;
    padding: 10px;
}

a.sendchat {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

.msg {
    background: green;
    color: white;
}

.red {
    color: red;
    cursor: pointer;
}

/*End friend req*/
